<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Royal Academy</title>

    <!-- CSS  -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/estilos.css')}}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="{{url_for('static',filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
</head>
<body class="blue-grey lighten-4">

    <nav>
        <div class="nav-wrapper red darken-4">
          <div class="col s12">
            <i class="material-icons dp48 brand-logo right" style="padding-right: 2%">exit_to_app</i>
            <a href="/" class="breadcrumb">Login</a>
            <a href="../menuadmin" class="breadcrumb">Menu Administrador</a>
            <a href="../menuexamenes" class="breadcrumb">Menu Examen</a>
          </div>
        </div>
    </nav>

    <div class="contenedor">
        <div class="carta">
            <div class="carta-header">
                    <section>Menu Examenes</section>
            </div>
            <div class="carta-body">
                <section class="container">
                    <div class="row">
                        <div class="icon-preview col s6 m3" align="center">
                            <i class="material-icons dp48">class</i>
                            <div><a href="../crearexamen">alta examen</a></div>
                        </div>
                        <div class="icon-preview col s6 m3" align="center">
                            <i class="material-icons dp48">assignment</i>
                            <div><a href="../crearevaluacion">alta evaluación</a></div>
                        </div>
                    </div>
                </section>
                </div>
        </div>
    </div>

    <footer class="page-footer red darken-4" style="position: fixed;left: 0px;bottom: 0px;width: 100%;">
            <div class="container">
                <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Royal Academy</h5>
                    <p class="grey-text text-lighten-4">La empresa “Royal Academy” se dedica al dictado de cursos de gestión de proyectos a nivel mundial.</p>
                </div>
                <div class="col l4 offset-l2 s12" style="padding-top: 2%">
                    <a href="http://www.facebook.com/AQUI_TU_PAGINA" target="_blank"><img alt="Siguenos en Facebook" src="https://lh6.googleusercontent.com/-CYt37hfDnQ8/T3nNydojf_I/AAAAAAAAAr0/P5OtlZxV4rk/s32/facebook32.png" width=32 height=32  /></a>
                    <a href="http://twitter.com/AQUI_TU_USUARIO" target="_blank"><img src="https://lh6.googleusercontent.com/--aIk2uBwEKM/T3nN1x09jBI/AAAAAAAAAs8/qzDsbw3kEm8/s32/twitter32.png" width=32 height=32 alt="Síguenos en Twitter" /></a>
                </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                © 2014 Copyright Text
                </div>
            </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static',filename='js/materialize.js')}}"></script>
    <script src="{{url_for('static',filename='js/funciones.js')}}"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/pinzon1992/materialize_table_pagination/f9a8478f/js/pagination.js"></script>
 </body>
</html>