<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Royal Academy</title>

    <!-- CSS  -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/estilos.css')}}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link href="{{url_for('static',filename='css/materialize.css')}}" type="text/css" rel="stylesheet" media="screen,projection" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

</head>
<body class="blue-grey lighten-4">

    <script>
        
        
    function selectCursadaOnChange()
    {
        var selectCursada = document.getElementById("select-cursada");
        window.location.replace("/crearevaluacion?cursada=" + selectCursada.value);

    }

    function selectExamenOnchange()
    {
        var selectCursada = document.getElementById("select-cursada");
        var selectExamen = document.getElementById("select-examen");
        window.location.replace("/crearevaluacion?cursada=" + selectCursada.value +"&examen="+selectExamen.value);

    }
            
    </script>


    <nav>
        <div class="nav-wrapper red darken-4">
        <div class="col s12">
            <i class="material-icons dp48 brand-logo right" style="padding-right: 2%">exit_to_app</i>
            <a href="../menuadmin" class="breadcrumb">Menu Admin</a>
            <a href="../menuexamenes" class="breadcrumb">Menu Examen</a>
            <a href="../crearevaluacion" class="breadcrumb">Crear Evaluacion</a>
        </div>
        </div>
    </nav>

    <div class="contenedor">
        <div class="carta">
            <div class="carta-header">
                <section>Crear evaluacíon</section>
            </div>
            <div class="carta-body">
                <form action="/crearevaluacion" method="post" id="form">
                    <div class="grupo">
                        {% if cursadas %}
                        <section>Cursada:</section>
                        <select name="cursada" onchange="selectCursadaOnChange()" id="select-cursada">
                            <option value="" disabled selected>Seleccione un curso</option>
                            {% for cursada in cursadas %}
                            <option value="{{ cursada.id }}" {% if cursada.id == idCursada %} selected {% endif %} >{{ cursada.nombre }}</option>
                            {% endfor %}
                        </select>
                        {% endif %}
                    </div>
                    <div class="grupo">
                        {% if examenes %}
                        <section>Examen:</section>
                        <select name="examen" onchange="selectExamenOnchange()" id="select-examen">
                            <option value="" disabled selected>Seleccione un examen</option>
                            {% for examen in examenes %}
                            <option value="{{ examen.id }}" {% if examen.id == idExamen %} selected {% endif %} >{{ examen.titulo }}</option>
                            {% endfor %}
                        </select>  
                    </div>
                    <div class="grupo">
                        <section>Titulo:</section>
                        <div class="input-field col s12">
                            <input type="text" name="titulo" id = "titulo"><br>
                            <label for="titulo">Ingrese el titulo</label>
                        </div>
                    </div>
                    <div class="grupo">
                        <section>Fecha:</section>
                        <div class="input-field col s12">
                            <input type="datetime-local" name="fecha"><br>
                        </div>
                        {% endif %}
                    </div>
                    <div class="grupo">
                        {% if preguntas %}
                        <section>Seleccione las preguntas:</section>
                        {% for pregunta in preguntas %}
                        <label>
                            <input type="checkbox" class="filled-in" />
                            <span>{{ pregunta.texto }}</span>
                        </label><br>
                        {% endfor %}
                        <br> 
                        {% endif %}
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Confirmar</button>
                    <input type="hidden" name="csrf_token" value="{{csrf_token() }}"/>
                </form>
            </div>
        </div>
    </div>
    
    <footer class="page-footer red darken-4">
        <div class="container">
            <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Royal Academy</h5>
                <p class="grey-text text-lighten-4">La empresa “Royal Academy” se dedica al dictado de cursos de gestión de proyectos a nivel mundial.</p>
            </div>
            <div class="col l4 offset-l2 s12" style="padding-top: 2%">
                <a href="http://www.facebook.com/AQUI_TU_PAGINA" target="_blank"><img alt="Siguenos en Facebook" src="https://lh6.googleusercontent.com/-CYt37hfDnQ8/T3nNydojf_I/AAAAAAAAAr0/P5OtlZxV4rk/s32/facebook32.png" width=32 height=32  /></a>
                <a href="http://twitter.com/AQUI_TU_USUARIO" target="_blank"><img src="https://lh6.googleusercontent.com/--aIk2uBwEKM/T3nN1x09jBI/AAAAAAAAAs8/qzDsbw3kEm8/s32/twitter32.png" width=32 height=32 alt="Síguenos en Twitter" /></a>
            </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            </div>
        </div>
    </footer>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{url_for('static',filename='js/materialize.js')}}"></script>
    <script src="{{url_for('static',filename='js/funciones.js')}}"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/pinzon1992/materialize_table_pagination/f9a8478f/js/pagination.js"></script>
 </body>
</html>